<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello i am login page </h1>
    <h2>login here by making entries in given form</h2>
    <div >
        <form action="/login"method="POST">
    <input type="email"name="email"placeholder="enter email">
     <input type="password"name="password"placeholder="enter password">
     <input type="submit"placeholder="login"name="submit">
     </form>
    </div>
</body>
</html>